<div class="span6">
<table class="table table-hover">
	<tr>
		<td>&nbsp;</td><td>NO. Order/Invoice</td><td>:</td>
		<td style="font-weight:bold;">{$data.header.no_order|default:'-'}</td>
	</tr>
	<tr>
		<td>&nbsp;</td><td>Tgl. Order/Invoice</td><td>:</td>
		<td style="font-weight:bold;">{$data.header.tgl_order|default:'-'}</td>
	</tr>
	<tr>
		<td>&nbsp;</td><td>{if $data.header.jenis_pembeli eq 'SEKOLAH'} Nama Sekolah {else} Nama Lengkap{/if}</td><td>:</td>
		<td style="font-weight:bold;">{if $data.header.jenis_pembeli eq 'SEKOLAH'}{$data.header.nama_sekolah|default:'-'}{else}{$data.header.nama_lengkap|default:'-'}{/if}</td>
	</tr>
</table>
</div>
<div class="span6">
<table class="table table-hover">
	<tr>
		<td>&nbsp;</td><td>Zona</td><td>:</td>
		<td style="font-weight:bold;">{$data.header.zona|default:'-'}</td>
	</tr>
	<tr>
		<td>&nbsp;</td><td>SubTotal & Pajak</td><td>:</td>
		<td style="font-weight:bold;">({$data.header.sub_total|number_format:2:',':'.'|default:'-'})&nbsp;-&nbsp;(0,00)</td>
	</tr>
	<tr>
		<td>&nbsp;</td><td>Grand Total</td><td>:</td>
		<td style="font-weight:bold;">{$data.header.grand_total|number_format:2:',':'.'|default:'-'}</td>
	</tr>
</table>
</div>
<hr>
<table class="table table-striped table-bordered table-hover">
	<thead>
	<tr>
		
		<th style="text-align:left;">No.</th>
		<th>{if $mod eq 'trans_buku_sekolah' || $mod eq 'trans_buku_umum'}Judul Buku{else}Produk{/if}</th>
		<th style="text-align:right;">Harga (Sesuai Zona {$data.header.zona})</th>
		<th style="text-align:right;">Jumlah/Qty</th>
		<th style="text-align:right;">Total</th>
		<th style="text-align:center;width:15%" >Status</th>
	</tr>
	</thead>
	<tbody>
	{assign var=tot_qty value=0}
	{assign var=tot_harga value=0}
	{assign var=tot_pajak value=0}
	{assign var=grand_tot value=0}
	{foreach from=$data.detil item=i name=x}
	{if $i.flag neq 'C'}
	{assign var=tot_qty value=$tot_qty+$i.qty}
	{assign var=tot_harga value=$tot_harga+$i.total}
	{/if}
	<tr style="{if $i.flag eq 'C'}background:red;color:red;{/if}">
		
		<td style="text-align:center;">{$smarty.foreach.x.iteration}</td>
		<td>{if $mod eq 'trans_buku_sekolah' || $mod eq 'trans_buku_umum'}{$i.judul_buku|default:'-'}{else}{$i.judul_produk|default:'-'}{/if}</td>
		<td align="right" style="text-align:right;">Rp. {$i.harga|number_format:2:',':'.'|default:'-'}</th>
		<td align="right" style="text-align:right;">{$i.qty|number_format:2:',':'.'|default:'-'}</td>
		<td align="right" style="text-align:right;">Rp.{$i.total|number_format:2:',':'.'|default:'-'}</td>
		
		{if $i.flag eq 'C'}
			<td style="text-align:center;">Data Ini Dibatalkan</td>
		{else}
			<td style="text-align:center;">-</td>
		{/if}
		
	</tr>
	{/foreach}
	</tbody>
	<tfoot>
	<tr style="font-weight:bold;">
		<td colspan="3" align="center" style="text-align:center;">SUB TOTAL</td>
		<td align="right" style="text-align:right;">{$tot_qty|number_format:2:',':'.'|default:'-'}</td>
		<td align="right" style="text-align:right;">Rp.{$tot_harga|number_format:2:',':'.'|default:'-'}</td>
		<td align="center" >&nbsp;</td>
	</tr>
	<tr style="font-weight:bold;">
		<td colspan="3" align="center" style="text-align:center;">PAJAK</td>
		<td align="center">&nbsp;</td>
		<!--td align="right">Rp.{($tot_harga * 0.1)|number_format:2:',':'.'|default:'-'}</td-->
		<td align="right" style="text-align:right;">Rp. 0,00</td>
		<td align="center">&nbsp;</td>
	</tr>
	<tr style="font-weight:bold;">
		<td colspan="3" align="center" style="text-align:center;">GRAND TOTAL</td>
		<td align="center">&nbsp;</td>
		<!--td align="right">Rp.{(($tot_harga * 0.1) + $tot_harga)|number_format:2:',':'.'|default:'-'}</td-->
		<td align="right" style="text-align:right;">Rp.{$tot_harga|number_format:2:',':'.'|default:'-'}</td>
		<td align="center">&nbsp;</td>
	</tr>
	</tfoot>
</table>
{include file="backend/template/button_save.html" text="Back To Grid" click="$('#grid_nya_{$mod}').show();$('#detil_nya_{$mod}').hide();" id_na="cancel" style_btn="btn-danger"  btn_goyz="true"}


<script>
$('#cetak_{$acak}').bind('click',function(){
	var param_na={};
	param_na['mod']='{$mod}';
	param_na['id']={$data.header.id|default:0};
	openWindowWithPost(host+'backoffice-Cetak',param_na);
});
</script>