<html>
<body style='background:#E8E8E9;'>
	<table width='80%' style='margin-left:10%;background:#fff;'>
		<tr>
			<td style='padding:10px;'>
				<center><img src="http://jingga.co.id/__projecttemp/aldeaz/logo.png" style="max-width:600px;" id="headerImage" mc:label="header_image" mc:edit="header_image" mc:allowdesigner mc:allowtext /></center>
			</td>
		</tr>
		<tr>
			<td style='padding:10px;'>
				Berikut kami kirimkan data akun anda.
			</td>
		</tr>
		<tr>
			<td>
				<table width='100%' style='margin-top:10px;margin-bottom:10px;'>
					<tr>
						<td width='25%'>Username</td>
						<td width='5%'>:</td>
						<td width='70%'>{$email}</td>
					</tr>
					<tr>
						<td width='25%'>Password</td>
						<td width='5%'>:</td>
						<td width='70%'>{$password}</td>
					</tr>
					<tr>
						<td width='25%'>Kode Marketing</td>
						<td width='5%'>:</td>
						<td width='70%'>{$kodemarketing}</td>
					</tr>
				</td>
			</td>
		</tr>
		<tr>
			<td style='padding:10px;'>
				Silahkan Login ke dalam http://marketing.mks-store.id .
			</td>
		</tr>
		<tr>
			<td style='padding:10px;'>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				PT. Mulia Kencana Semesta
			</td>
		</tr>
	</table>
</body>
</html>