<div  class="sidebar fixed" id="sidebar">
	<ul class="nav nav-list">
		<li>
			<a href="javascript:void(0);" onclick="loadUrl('{$host}beranda');$('#judul_kecil').html('Dashboard App')">
				<i class="icon-bar-chart"></i>
				<span class="menu-text">Beranda</span>
			</a>
		</li>
		<li>
			<a href="javascript:void(0);" onclick="loadUrl('{$host}backoffice-modul/transaksi/penjualan');$('#judul_kecil').html('Transaksi Penjualan Buku Pembeli Sekolah')">
				<i class="icon-briefcase"></i>
				<span class="menu-text">Penjualan Sekolah</span>
			</a>
		</li>
		<li>
			<a href="javascript:void(0);" onclick="loadUrl('{$host}backoffice-modul/transaksi/penjualan-umum');$('#judul_kecil').html('Transaksi Penjualan Buku Pembeli Umum')">
				<i class="icon-puzzle-piece"></i>
				<span class="menu-text">Penjualan Umum</span>
			</a>
		</li>
		<li>
			<a href="javascript:void(0);" onclick="loadUrl('{$host}Backoffice-Report/inv_buku');$('#judul_kecil').html('Report Invoice Buku')">
				<i class="icon-book"></i>
				<span class="menu-text">Laporan</span>
			</a>
		</li>		
		<li>
			<a href="javascript:void(0);"  class="dropdown-toggle" >
				<i class="icon-cog"></i>
				<span class="menu-text">Setting</span>
				<b class="arrow icon-angle-down"></b>
			</a>
			<ul class="submenu">
				<li>
					<a href="javascript:void(0);" onclick="loadUrl('{$host}user-profile');$('#judul_kecil').html('Profil User')">
						<i class="icon-double-angle-right"></i>
						<span class="menu-text">Profil Saya</span>
					</a>
				</li>
				{if $auth.role eq "PIC"}
				<li>
					<a href="javascript:void(0);" onclick="loadUrl('{$host}backoffice-modul/setting/sales');$('#judul_kecil').html('Registrasi Sales')">
						<i class="icon-double-angle-right"></i>
						<span class="menu-text">Registrasi Sales</span>
					</a>
				</li>
				{/if}
				<li>
					<a href="javascript:void(0);" onclick="loadUrl('{$host}ubah-password');$('#judul_kecil').html('Ubah Password')">
						<i class="icon-double-angle-right"></i>
						<span class="menu-text">Ubah Password</span>
					</a>
				</li>
			</ul>
		</li>
		
		
	</ul><!--/.nav-list-->

	<div class="sidebar-collapse" id="sidebar-collapse">
		<i class="icon-double-angle-left"></i>
	</div>
</div>